// src/components/Select.scss
.custom-select {
    padding: 0.5rem;
    border: 0.5px solid #3e4720;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
    font-size: 1rem;
    color: black;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
  
    &:focus {
      outline: none;
      border-bottom-color: #a1a88c; // Bordure plus claire au focus
    }
  
    option {
      color: black;
    }
  }